.checkbtn {
    color: #5625a1;
    font-size: 30px;
    border: 2px solid rgb(121, 121, 71);
    border-radius: 5px;
    display: none;
    margin-right: 25px;
    padding: 1px 5px 0px 4px;
}

#check {
    display: none;
}

@media(max-width:576px) {

    /* navbar */
    .navBar{
        margin: 0;
        width: 100%;
    }
    .logo img{
        margin: 0;
        margin-left: 80px;
    }
    .text{
        margin: 0;
        margin-right: 180px;
    }

    .navLinks {
        background-color: #5625a1;
        position: absolute;
        flex-direction: column;
        top: 110px;
        display: none;
        height: 40%;
        width: 100%;
    }

    .navLinks li {
        background-color: aliceblue;
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navLinks li:hover {
        background-color: #5625a1;
    }

    .checkbtn {
        display: block;
    }

    #check:checked~.navLinks {
        display: flex;
    }
    /* herosection */
    .heroSection{
        width: 100%;
        flex-direction: column;
        padding: 0 0 0 20px;
        overflow: hidden;
    }
    .jumbotron{
        margin: 0;
        padding: 0;
        
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;
    }
    .jumbotron h1{
        width: 100%;
        font-size: 40px;
        text-align: center;
        padding: 0 100px 0 100px;
    }
    .jumbotron p{
        text-align: center;
        width: 95%;
    }
    .jumbotron button{
        margin: 0;
        margin-left: 150px;
        margin-top: 20px;
    }
    .heroImage img{
        width: 400px;
        margin: 0;
        /* margin-left: 150px; */
    }
    /* service se tion */

    .serviceSection .serviceCard .soundSet{
        width: 100%;
        margin: 0;
        padding: 50px 100px;
        overflow: hidden;
    }
    /* about section */
    .aboutSection{
        flex-direction: column;
        padding: 0 0 250px 20px;
        overflow: hidden;
    }
    .about{
        width: 100%;
        padding: 20px;
        margin: 0 0 0 0;
    }
    .about p{
        width: 100%;
    }
    .aboutImage{
        margin: 20px 0 0 0;
    }
    .imgOne img{
        width: 300px;
    }
    
    .imgTwo{
        margin: 0;
        padding: 0;
        /* margin-right: 80px; */
        position: absolute;
        right: 5px;
    }
    .imgTwo img{
        margin: 0;
        padding: 0;
        width: 200px;
        margin-bottom: 20px;

        
    }
    
    /* blog section */
    .blogSection{
        margin: 0 0 0 0; 
        padding: 0 0 0 0;
        width: 100%;
        overflow: hidden;
    }
    .blog{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        gap: 2rem;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0 40px;
    }
    .blogImage{
        aspect-ratio: 16/9;
        width: 100%;
        margin: 0;
        padding: 0 ;
    }
    
    /* contact section */
    .contactSection .contact{
        flex-direction: column;
        margin-top: 50px;
        overflow: hidden;
    }
    .forms{
        width: 100%;
        margin: 0;
        padding-left: 20px;
    }
    .forms form{
        width: 100%;
    }
    .contact .mapArea{
        width: 100%;
        padding-left: 20px;
    }
    .contact .mapArea iframe{
        width: 95%;
    }
    /* footer */
    .iconBar{
        width: 100%;
        margin: 0;
        padding: 50px 0 0;
    }
    .address{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .font{
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        width: 100%;

    }
    .fontBox{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .fontIcon{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 20px 0 20px 0;
    }
}